h1 About
p This site is for cataloguing titles of books, ratings of said books, and prices of books. Perfect for those who wish to keep a digitized log of what books are worth the read and those which are not.
